/* alterações na header*/
.wrap-project {
  max-width: 1300%;
  height: 200px;  
  background: #000;
  color: #FFF;  
  margin: 0px;
  padding: 20px;
  overflow: hidden;
 }

/*alterações no logo*/
.logo {
  position: relative;
  width: 24%;
  height: 24%; 
    
}

/*-----------------------------------------------------*/
  /* alterçaões no menu */
  .wrap-menu {    
    transform: translateY(-550%) translateX(75%);  
    margin-right: 20px;
     
   }

   .menu {
    margin: 2px;
    cursor: pointer;
   }

 .menu > li {
   display: inline-block;  
   padding: 2px;  
 }
 
 .menu > li:hover{
   border: solid 1px #FFA500;   
  }

/*================================================*/
/*alteração no bem-vindo */
.welcome { /*faz a img de background ficar colorida*/
  background: linear-gradient(rgb(248, 55, 55, 0.9), rgb(248, 55, 108, 0.9)),
   url("images/slider.png") no-repeat; transform: (0.8%);
  margin: -2px 0px 0px -5px;
  padding: 5px;
  height: 300px;
  max-width: 1300%
 }

  /*alteração no img borboleta */
.welcome-img {
  overflow: hidden;  
}

.slide {  
  float: right;
  height: 100px;
  width: 100px;
  margin-top: 50px;
  padding-left:0;  
}

.-information{  
  
}


.title {
  
}

.introdution{
 
}

.description {  
   color: #cd7129;
 }


/*================================================*\
      /*alteração no serviços */
.service {
  background-color: #000;
  max-width: 1300%;
  height: 500px;
  color: #FFFFFF;
  text-align: center;
  border-bottom: solid 1px #FFF;   
}

.service > h3 {
   padding: 2%;
}

.service > h4 {
  border-bottom: solid 1px #FFF;
  width: 50%;
  transform: translateX(40%);
  padding: 2%;
}

.service-img {
  display: inline-block;
  margin:30px;  
  
}

.icon {  
  width: 100px;
  height: 100px;
  border-radius: 200px;
  border: solid 2px #FFF;
  float: left;
  margin-left: 100%;
  margin-right: 0;
  margin-top: 12%;
  margin-bottom: 50%;
 }

.subtitle {
  display: inline-block;
  width: 200px;
  height: 5px; 
  text-align: center;
  margin-left: -4%;
  
}

.subtitle > h3{
  color: #c3702b;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.subtitle > p { 
  
}


/* .service h3, h4{
 text-align: center;
 padding-top: 20px;
 font-weight: 40px;
 color: rgb(254, 134, 33);
} */

/* h3[title="principal"] {
  color: rgb(226, 27, 85) !important;
} */

/* #servicos h4{
  border-bottom: solid white 2px;
  padding-bottom: 15px;
  margin-left: 200px;
  width: 1000px;
}

div#legendas h3 {
  display: inline;

  padding-left: 100px;
  padding-right: 75px;

  margin-left: 80px;
  margin-right: 50px;
}

div.websites  {
  display: inline-block;
  text-align: center;
  padding-left: 120px;
  margin: 100px 50px 50px 0px;

}

div.templates {
  display: inline-block;
  padding-left: 30px;
  text-align: center;
  margin: 100px 50px 50px 0px;
}

div.temas {
  text-align: center;
  display: inline-block;
  padding-top: 10px;
  padding-left: 230px;
  margin-top: 50px;
  margin-left: -200px;
} */
/*só para colocar cor nos textos*/


/*================================================*\
/*alteração no meustrabalhos */
#meustrabalhos {
 background-color: rgb(253, 173, 26);
 padding: 50px;
}

#meustrabalhos h2{
  padding: 5px;
  color: red;
}

#meustrabalhos p{
  border-bottom: solid 2px white;
  padding-bottom: 20px;
  margin: 50px;
}

#meustrabalhos ul {
  list-style: none;
}

#meustrabalhos li{
  display: inline-block;
  border: solid 1px rgb(127, 127, 127);
  margin: 10px;
  padding: 1px 15px 1px 15px;
}

#meustrabalhos li:hover{
  background: rgb(127, 127, 127);
}

#meustrabalhos img {
 margin-right: 15px;
}

/*================================================*\
/*alteração no "quem" */
#quem {
 background-color: black;
 color: white;
 height: 1000px;
 width: 1300px;
 padding: 20px;
}

#quem h3, h1 {
  text-align: center;
}

h1[title="quemsoueu"]{
  color: rgb(247, 24, 88);
}
#quem h2 {
  padding: 10px 10px 15px 5px;
}

h2[title="sobre"] {
  text-align: center;
  margin-right: 85px;
}

h4[title="normal"] {
  border-bottom: solid 2px white;
  padding-bottom: 20px;
  color:rgb(114, 79, 48);
}

#quem img {
  padding-left: 400px;
  margin-top: 10px;
}

#quem div {
  margin: 0px 20px 0px 25px;
  padding: 2px;
}

#j {
  background-color: purple;
  height: 20px;
  width: 210px;
  margin: 2px;
  border: solid 2px white;
  padding: 2px;
  border-right-width: 40px;
  border-right-style: solid;
  border-right-color: white;
}

#h {
  background-color: purple;
  height: 20px;
  width: 240px;
  margin: 2px;
  border: solid 2px white;
  padding: 2px;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: white;
  }

#jQ {
  background-color: purple;
  height: 20px;
  width: 200px;
  margin: 2px;
  border: solid 2px white;
  padding: 2px;
  border-right-width: 50px;
  border-right-style: solid;
  border-right-color: white;
}

#W {
  background-color: purple;
  height: 20px;
  width: 200px;
  margin: 2px;
  border: solid 2px white;
  padding: 2px;
  border-right-width: 50px;
  border-right-style: solid;
  border-right-color: white;
}


/*================================================*/
/*alteração no contato */
#contato {
  background-color: rgb(253,173,26);
  height: 500px;
  max-width: 1330px;
  margin: -2px;
  padding: 8px;
}
#contato h4, p{
  text-align: center;
}

#contato h4{
  border-bottom: solid 1px rgb(73, 23, 0);
  width: 1000px;
  margin-top: 20px;
  margin-left: 150px;
}

#contato h2 {
  margin-left: -10px;
  text-align: center;
  color: rgb(241, 24, 76)
}

p[title="email"] {
  border: solid 1px #FFFFFF;
  padding-top:10px;
  padding-bottom:10px;
  margin-top: 70px;
  margin-right:450px;
  margin-left:450px;
}

p[title="numero"]{
  color: white;
}

.midias {
 color: black;
 border-bottom: solid 1px rgb(73, 23, 0);
 width: 1000px;
 margin-top: 100px;
 margin-left: 190px;
}

.midiasocial {
  display: inline-block;
  transform: translateX(1100%);
  margin-right: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.midiasocial > img{
  height: 50px;
  width: 50px;
  border-radius: 150px;
}



/*================================================*/
.end {
  background-color: rgb(25,26,28);
  height: 50px;
  max-width: 1300%;
  text-align: center;
  color: #FFF;
}

/* Parte responsiva */
